*{
    box-sizing:border-box;
    margin:0px;
 }
 body{
     background:url("https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png") 
     no-repeat top center rgb(146, 247, 151);
 }
#box{
    background-color:crimson;
    margin:10px;
    border:5px solid black;
    padding:10px;
    height:450px;
}
#div1{
    background-color:rgb(103, 104, 196);
    margin:10px;
    border:5px solid black;
    padding:10px;
    width:50%;
    height:400px;
    float:right;
}
#div2{
    background-color:rgb(245, 238, 144);
    margin:10px;
    border:5px solid black;
    padding:10px;
    width:50%;
    height:400px;
    
}